:root {
	--black: 51, 51, 51; /* #333; */
	--white: 253, 253, 253; /* #fdfdfd; */
	--beige: 251, 244, 226; /* #fbf4e2 */
	--yellow: rgb(244, 206, 20); /* #f4ce14 */
	--orange: 255, 171, 77; /* #ffab4d */
	--light-orange: 255, 193, 126; /* #ffc17e */
	--yellow-orange: 254, 183, 70; /* #feb746 */
	--salmon: 252, 145, 94; /* #fc915e */
	--red: 199, 0, 57; /* #c70039; */
	--blue: 1, 122, 200; /* #017ac8 */
	--green: 120, 148, 97; /* #789461 */
	--dark-green: 43, 69, 24; /* #2b4518 */
	--gray: 204, 204, 204; /* #cccccc */
	--light-gray: 238, 238, 238; /* #eeeeee */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Barlow', sans-serif;
	font-size: 0.9rem;
	color: rgba(var(--black), 1);
}

a {
	color: rgb(var(--blue), 1); /* #0174be; */
}

a:hover {
	filter: brightness(0.85);
}

/* google-webfonts-helper: https://gwfh.mranftl.com/fonts */
/* outfit-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/outfit-v11-latin-regular.woff2') format('woff2');
}
/* outfit-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/outfit-v11-latin-600.woff2') format('woff2');
}

/* barlow-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/barlow-v12-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/barlow-v12-latin-700.woff2') format('woff2');
}

/* barlow-condensed-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2');
}
/* barlow-condensed-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/barlow-condensed-v12-latin-500.woff2') format('woff2');
}
/* barlow-condensed-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/barlow-condensed-v12-latin-600.woff2') format('woff2');
}
/* barlow-condensed-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/barlow-condensed-v12-latin-700.woff2') format('woff2');
}

h1 {
	font-family: 'Outfit', sans-serif;
	font-size: 1.95rem;
}

h2 {
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
}

button {
	font-family: 'Barlow', sans-serif;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	color: rgba(var(--black), 1);
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(var(--gray), 0.65);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	/* margin: auto; */
}

img {
	/* display: block; */
	max-width: 100%;
	height: auto;
}

/* Mapbox zoom controls */
.mapboxgl-ctrl-top-right > .mapboxgl-ctrl,
mapboxgl-ctrl-group,
.mapbox-ctrl-group:not(:empty) {
	box-shadow: 0 0 2px 1px rgba(var(--black), 0.15) !important;
}

.card {
	background-color: rgba(var(--white), 0.75);
	border: 0.75px solid rgba(var(--dark-green), 1);
	border-radius: 5px;
	margin-top: 1rem;
	overflow: auto;
}

.panel-body::-webkit-scrollbar,
.card::-webkit-scrollbar {
	width: 14px;
}

.panel-body::-webkit-scrollbar-thumb,
.card::-webkit-scrollbar-thumb {
	background-color: rgba(var(--orange), 0.5);
	border: 3px solid transparent;
	border-radius: 10px;
	background-clip: padding-box;
}

/* source button on cards */
.source-btn {
	font-family: 'Barlow Condensed', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.75rem;
	font-weight: 500;
	border: 1px solid rgb(var(--blue), 1);
	padding: 0 5px 1.5px 5px;
	/* margin-left: 3px; */
	border-radius: 8px;
}

.source-btn:hover {
	background-color: rgb(var(--blue), 0.1);
	transition: 0.7s;
}

a.source-btn {
	color: rgb(var(--blue), 1);
}
